* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Verdana, sans-serif;}

html {
  height: 100%;
  margin: auto;
  overflow-x: hidden;
}

body {
width: 100%;
margin: 0%;
z-index: 0;
background-color: #2C3930;
}

/*#######sidebar for mobile#######*/
.sidemenu {
  position: sticky;
  top: 105px;
  z-index: 2;
}
.sidebar {
  width: 250px;
  height: 100vh;
  background: #f9edf0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  transition: left 0.3s;
}
.sidebar-toggle-label i {
  font-size: 24px;
    border: #2C3930;
}
.sidebar ul li {
  list-style: none;
  font-size: 18px;
  padding: 20px;
  cursor: pointer;
} 
.sidebar li a {
  color: black;
  text-decoration: none;
}
li span {
  padding-left: 20px;
}
.sidebar ul li .fas {
  padding-left: 20px;
}
.sidebar-toggle-label {
    position: fixed;
    top: 10px;
    background: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    z-index: 3;
    opacity: 0.8;
}
#sidebar-toggler:checked ~ .sidebar-header-wrapper .sidebar {
  left: -100%;
}
.sidebar-header-wrapper .search-container {
    display: inline-block;
    padding-left: 20px;
}
.sidebar-header-wrapper .search-container input[type=text] {
    padding: 9px;
    font-size: 16px;
    border: none;
    width: 180px;
    border-radius: 12px;
}
.sidebar-header-wrapper .search-container i {
    position: relative;
    top: -35px;
    left: 140px;
    padding: 8px 8px;
    background-color: white;
    pointer-events: none;
    justify-items: center;
} 
/*#######sidebar for mobile end#######*/


/*#######header#######*/  
.header {
  text-align: center;
    width: 100%;
    height: 70px;
    padding: 20px;
    background-color: #e6c8b7;
    color: #261311;
    letter-spacing: 0.1em;
    justify-content: center;}
/*#######header end#######*/

/*#######navbar#######*/  
.navbar {
    font-size: 18px;
    margin: auto;
    padding: 0;
	background-color: #DCC2A3;
    align-content: center;
    text-align: center;
    overflow: auto;
    padding: 20px;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding-inline: 2em;
    margin: 15px;
}
.navbar a:hover {
    color: white;
}
.navbar a.active {
    color: white;
    padding: 15px;
    border-radius: 15px;
}
.navbar .search-container {
    display: inline-block;
    padding-left: 25px;
}
.navbar input[type=text] {
    padding: 9px;
    font-size: 16px;
    border: none;
    width: 200px;
}
.search-container i {
    position: relative;
    left: -40px;
    padding: 8px 8px;
    background-color: white;
    pointer-events: none;
}
/*#######navbar end#######*/ 

/*#######breadcrumb#######*/ 
.breadcrumb {
    margin: auto;
    padding-top: 20px;
    padding-left: 40px;
    list-style: none;
}
.breadcrumb ul li {
    color: white;
    display: inline;
    font-size: 16px;
}
.breadcrumb ul li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
}
.breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}
/*#######breadcrumb end#######*/ 

/*#######page header#######*/ 
.pageheader {
    padding: 20px;
    color: #c79b66;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
}
/*#######page header end#######*/ 

/*#######banner top#######*/
picture {
    width: 100vh;
    margin: auto;
}
/*#######banner top end#######*/

/*#######pagecontent#######*/
.pagecontent {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #DCC2A3;
    color: black;
    text-align: center;
    border-radius: 25px;
}
.pagecontent h4 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}
.pagecontent p {
    font-size: 16px;
    text-wrap: balance;
    padding-bottom: 15px;
}
/*#######pagecontent end#######*/

/*#######cards#######*/
.card-container {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 2%;
    padding-bottom: 40px;
    margin: auto;
}
.card-container .card {
    width: 60%;
    background-color: #DCC2A3;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: center;
}
.card:nth-of-type(n) {
    flex: 1 40%
}
.card p {
    text-align: center;
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 20px;
}
.card-img-top {
    margin: auto;
    width: 100%;
    height: 100%;
}
.cardhead {
    text-align: center;
    font-size: 20px;
    padding-top: 20px
}

/*#######card button#######*/
.card-button {
    background-color: #512B29;
    display: inline-block;
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
    width: 100%;
}
.card-button:hover {
    background-color: #784642;
}
.card a {
    font-weight: bold;
}
/*#######cards end#######*/

/*#######form#######*/
.form-container {
    width: 60%;
    margin: auto;
    padding: 2%;
    background-color: #DCC2A3;
    color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
}
.form-container .content {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.form-container .content hr {
    width: 100%;
    margin: 5% auto;
    border: none;
    border-top: 1px solid #807271;
}
.form-container .box {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 12%;
}
.form-container h4 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}
.form-container p {
    font-size: 16px;
    text-wrap: pretty;
    padding: 6px;
} 
.form-container input[type=text] {
  margin-top: 8px;
  margin-bottom: 12px;
  padding: 6px;
  font-size: 16px;
  border: none;
  width: 100%;
  border-radius: 12px;
}
.form-container #message {
    width: 100%;
    height: 150px;
    padding: 2%;
    font-size: 16px;
    border-radius: 12px;
    border: none;
    margin-top: 8px;
    margin-bottom: 12px;
}
form-container .box .submit {
    align-items: center;
}
.box-button {
  background-color: #512B29;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}
.box-button:hover {
  background-color: #784642;
}
/*#######form end#######*/

/*#######footer#######*/
footer .container {
    width: 100%;
    margin: 2% auto;
    background-color: #e6c8b7;
    padding: 2%;
}
footer .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}
.footer-col ul {
    list-style: none;
}
.footer-col h4 {
    color: black;
    margin-bottom: 1%;
    font-size: 20px;
    text-align: left;
}
.footer-col p {
    color: black;
    font-size: 16px;
    text-align: center;
    text-wrap: balance;
}
.footer-col ul li {
    padding-top: 15px;
    text-align: left;
}
.footer-col ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}
.footer-col ul li a:hover {
  color: white;
}
.footer-col #sub {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}
.footer-col input{
    border: none;
    width: 320px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 10px 0;
    border-radius: 12px;
}
.sub-footer input[type="text"] {
    font-size: 16px;
}
.footer-col input[type="submit"] {
    background-color: #512B29;
    color: white;
    font-size: 16px;
    padding: 12px;
    border: none;
    border-radius: 12px;
}
.footer-col input[type=submit]:hover {
    background-color: #784642;
}
.container-bottom {
    margin: auto;
    padding-bottom: 2%;
    text-align: center;
    color: white;
    background-color: #2C3930;
}
/*#######footer end#######*/

@media only screen and (min-width: 1300px) {
.sidemenu {display: none;}
}

/*##############Media 350-1300px##############*/
@media only screen and (min-width: 350px) and (max-width: 1300px) { 
.navbar {display: none;}
.breadcrumb {display: none;}

/*pageheader*/      
.pageheader {
    padding: 20px;
    text-align: center;
}

/*pagecontent*/
.pagecontent {
    width: 90%;
    margin: auto;
}

/*footer*/
footer {
    margin-top: 20px;
}
footer .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-col h4{
    color: black;
    font-size: 20px;
    text-align: center;
    padding-top: 30px;
}
.footer-col #sub {
    text-align: center;
}
.footer-col p {
    color: black;
    font-size: 16px;
    text-align: center;
    text-wrap: balance;
}
.footer-col ul li {
    text-align: center;
}
.footer-col input{
    margin: 3% auto;
}
}

/*##############Media 350-600px##############*/
@media only screen and (min-width: 350px) and (max-width: 600px) {   
/*card*/
.card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
} 
.card-container .card {
    width: 90%;
}

/*form*/
.form-container {
    width: 90%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}
.form-container .content {
    width: 90%;
    margin: auto;
    text-align: center;
}
.form-container .content p {
    font-size: 16px;
    text-wrap: balance;
    padding: 6px;
}
.form-container .box {
    width: 90%;
    margin: auto;
}
.form-container h4 {
    text-align: center;
}
}

/*##############Media 600-1300px##############*/
@media only screen and (min-width: 600px) and (max-width: 1300px) {
.navbar {display: none;}
.breadcrumb {display: none;} 

/*card*/
.card-container {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-content: center;
} 
.card-container .card {
    width: 50%;
}
/*form*/
.form-container {
    width: 90%;
    margin: auto;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}
.form-container .content {
    width: 60%;
    margin: auto;
    text-align: center;
}
.form-container .box {
    width: 60%;
    margin: auto;
    text-align: left;
}
}



